*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", "Helvetica", "Geneva", sans-serif;
}

/* status-bar */

.status-bar {
  background-color: #385F71;
  width: 375px;
  height: 20px;
  color: #F5F0F6;
}

.fa-signal, .GS, .fa-wifi {
  float: left;
  font-size: 8pt;
  padding-left: 5px;
  font-weight: 325;
  padding-top: 5px;
}

.status-bar-time {
  padding-left: 110px;
  float: left;
  margin: 0 auto;
  font-size: 9pt;
  font-weight: 350;
  padding-top: 5px;
}

.battery-percentage {
  float: right;
  font-size: 8pt;
  font-weight: 300;
  padding-top: 5px;
}

.fa-battery-full {
  font-size: 10pt;
  float: right;
  padding: 4px 5px 0px 2px;
}


/* nav bar */

.nav-bar {
  height: 45px;
  width: 375px;
  background-color: #385F71;
  padding-top:
}

.fa-chevron-left {
  color: #D7B377;
  float: left;
  font-size: 17pt;
  padding-left: 8px;
  padding-top: 12px;
}

.back-text {
  color: #D7B377;
  float: left;
  font-size: 11pt;
  font-weight: 300;
  padding-top: 15px;
  padding-left: 7px;
}

.nav-bar h1 {
  color: #F5F0F6;
  float: left;
  padding-left: 60px;
  padding-top: 15px;
}

.option {
  color: #D7B377;
  float: right;
  font-size: 11pt;
  font-weight: 300;
  padding-top: 15px;
  padding-right: 15px;
}



/* map section */

.map-background {
  background-image: url(../images/Map.jpg);
  background-repeat: no-repeat;
  height: 273px;
  width: auto;
}

.searchbox {
  background-color: rgba(255,255,255, 0.8);
  border-radius: 5px;
  height: 34px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 5px;
  position: relative;
  top: 10px;
  color: #2B4162;
}

.fa-search, .search-text {
  float:left;
  padding-top: 5px;
  padding-left: 4px;
  padding-right: 3px;
  font-weight: 300;
  font-size: 11pt;
}

.fa-microphone {
  float: right;
  padding-top: 5px;
  padding-right: 4px;
}



/* bus list section */

.bus-route-data {
  height: 280px;
  width: 375px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #F5F0F6;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.bus-type {
  height: 25px;
  background-color: #385F71;
  color: #F5F0F6;
  font-size: 11pt;
  padding-top: 5.5px;
  padding-left: 16px;
}

.bus-number {
  font-size: 12;
  color: #2B4162;
  padding-left: 16px;
  padding-top: 12px;
  width: 150px;
}

.bus-time {
  font-size: 12;
  color: #2B4162;
  width: 185px;
  text-align: right;
}

.bus-station {
  font-size: 10pt;
  color: #385F71;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 12px;
  border-bottom: solid;
  border-width: thin;
}

.right-arrow {
  width: 40px;
  text-align: left;
  vertical-align: bottom;
  padding-left: 15px;
  padding-bottom: 22px;
}

.fa-chevron-right {
  color: #D1D1D6;
}



/* tab bar section */

.tab-bar {
  height: 50px;
  width: 375px;
  background-color: #385F71;
}

.stations-icon {
  float: left;
  padding-left: 50px;
  padding-top: 7px;
}

.directions-icon {
  float: left;
  padding-left: 100px;
  padding-top: 5px;
  opacity: 0.5;
}

.settings-icon {
  float: left;
  padding-left: 100px;
  padding-top: 8px;
  opacity: 0.5;
}

.directions-icon:hover, .settings-icon:hover {
  opacity: 1;
}

.stations-text {
  font-size: 8pt;
  color: #F5F0F6;
  float: left;
  padding-left: 42px;
  padding-top: 2px;
}

.directions-text {
  font-size: 8pt;
  color: #F5F0F6;
  float: left;
  padding-left: 83px;
  padding-top: 2px;
}

.settings-text {
  font-size: 8pt;
  color: #F5F0F6;
  float: left;
  padding-left: 82px;
  padding-top: 2px;
}
